
      </main>

      <footer class="flex one center">
        <div class="social">
            <a target="_blank" href="{{ site.youtube }}">
              <i class="icon-youtube-play"></i>
            </a>
            <a target="_blank" href="{{ site.facebook }}">
              <i class="icon-facebook"></i>
            </a>
            <a target="_blank" href="{{ site.twitter }}">
              <i class="icon-twitter"></i>
            </a>
            <a target="_blank" href="/feed.xml">
              <i class="icon-rss"></i>
            </a>
        </div>

        <menu>
          <a href="/courses/" class="courses">Courses</a>
          <span>/</span>
          <a href="/blog/" class="blog">Blog</a>
          <span>/</span>
          <a href="/about/" class="about">About</a>
          <span>/</span>
          <a href="/contact/" class="contact">Contact</a>
        </menu>

        <small>{{ site.title }} © {{ 'now' | date: '%Y' }}</small>

      </footer>

  </body>
</html>
